.section-info {
    display: flex;
    gap: 30px;
}

.section-boord {
    width: 270px;
}

.social-boord-icon__up {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
}


