.main {
    background-color: rgba(47, 48, 58, 0.4);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/go_it_4/header_foto_background.jpg);
}

.main-name {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin-left: auto;
    margin-right: auto; 
}

.foto-backround {
    background-image: url(go_it_4);
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}

.benefits {
    background: #F5F4FA;
    border-radius: 4px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-text-up {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 30px;
}
    
.main-text-down {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

