.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: var(--transition-duration-and-func);
    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}

.social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    .social-list-link:hover &,
    .social-list-link:focus & {
        fill: #FFFFFF;
    }
}